body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4
}

/* Global */
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

.button1{
  height: 38px;
  background: #e8501d;
  border: 0;
  border-radius: 5px;
  padding: 0 20px 0 20px;
  color: #FFFFFF;
}

/* Header */
header{
  background-color: #35424A;
  color: #FFFFFF;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #E8501D 3px solid;
}

header a{
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
  padding: 0;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a{
  color: #E8501D;
  font-weight: bold;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;
}

/* Showcase */
#showcase{
  position: relative;
  height: 400px;
  background-color: #bcbcbc;
  background-position: top, center;
  background-size: auto, 400px;
  text-align: center;
  color: #ffffff;
  overflow: hidden;
}

#bg1{
  height: 500px;
  width: 110%;
  background-color: pink;
  background-image: url(../img/showcase.jpg);
  background-size: 120vh;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -50px;
  left: -5%;
}

#showcase-text{
  min-height: 200px;
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -100px;
}

#showcase h1{
  /* margin-top: 100px; */
  margin-top: 0;
  font-size: 55px;
  margin: 10px;
}

#showcase p{
  font-size: 20px;
  width: 80%;
  margin: auto;
}

/* Newsletter */
#newsletter{
  padding: 15px;
  color: #ffffff;
  background-color: #35424A;
}

#newsletter h1{
  float: left;
}

#newsletter form{
  float: right;
  margin-top: 15px;
}

#newsletter input[type='email']{
  padding: 4px;
  height: 25px;
  width: 250px;
  border-radius: 5px;
}

/* Boxes */
#boxes{
  margin-top: 20px;
}

#boxes .box{
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}

#boxes img{
  width: 90px;
}

/* Footer */
footer{
  padding: 20px;
  margin-top: 20px;
  background-color: #e8501d;
  text-align: center;
  color: #ffffff;
}

/* Media Queries */
@media(max-width: 860px) {
  #newsletter{
    padding-top: 10px;
    padding-bottom: 20px;
  }
  #newsletter h1,
  #newsletter form{
    float: none;
    text-align: center;
    width: 100%
    padding: 5px;
    margin: 0;
  }

}

@media(max-width: 750px) {
  #boxes .box{
    float: none;
    width: 100%;
  }
}

@media(max-width: 600px) {
  header #branding,
  header nav,
  header li{
    float: none;
    text-align: center;
    width: 100%;
  }
  header{
    padding-bottom: 20px;
  }
}

@media(min-width: 791px) {
  #bg1{
    background-size: 120vw;
  }
}

@media(max-width: 490px) {
  #newsletter button{
    display: block;
    width: 100%;
  }
  #newsletter form input[type='email']{
    width: 100%;
    margin-bottom: 5px;
  }
}

@media(max-width: 390px) {
  header #branding,
  header nav,
  header li{
    float: none;
    text-align: center;
    width: 100%;
    padding: 0;
  }
  header{
    padding-bottom: 20px;
  }
  #showcase h1{
    font-size: 48px;
    margin: 5px;
  }

  #showcase p{
    font-size: 12px;
  }
}
